# Exploratory Data Analysis â€” Fake vs Real News

Load the dataset (place `Fake.csv` and `True.csv` in `data/` or `data/raw/`), inspect class balance, text length, and sample rows.

In [6]:
import sys
from pathlib import Path
sys.path.insert(0, str(Path("..").resolve() / "src"))

from data_loading import load_raw_data
import pandas as pd

df = load_raw_data()
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())
print("\nLabel distribution:")
print(df["label"].value_counts())

Shape: (600, 5)
Columns: ['title', 'text', 'subject', 'date', 'label']

Label distribution:
label
0    300
1    300
Name: count, dtype: int64

In [7]:
df["text_len"] = df["text"].fillna("").astype(str).str.len()
df["word_count"] = df["text"].fillna("").astype(str).str.split().str.len()
df.groupby("label")[["text_len", "word_count"]].describe()

      text_len                                                   word_count  \
         count  mean        std   min    25%   50%    75%    max      count
label
0        300.0  62.3  22.443016  45.0  46.75  51.5  69.25  121.0      300.0
1        300.0  68.3  14.411882  53.0  59.00  61.0  74.25   96.0      300.0


      mean       std  min  25%  50%   75%   max
label
0      9.4  2.732194  6.0  7.0  8.5  11.0  15.0
1      9.2  1.402339  8.0  8.0  8.5  10.0  12.0

In [5]:
df.sample(3)[["text", "label"]].to_string()

'                                                                       text  label\n298     UN agency releases climate report. Data from multiple countries. 14      1\n522  Stock market crash tomorrow. Insiders selling. Forward to everyone. 14      0\n140                      Miracle drug cures all. Big pharma blocking it. 15      0'